
/* line 17 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/imports.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/stylus/lib/functions/index.styl */

/* line 297 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/clearfix.styl */

/* line 30 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/reset.styl */

/* line 6 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/index.styl */

/* line 6 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 3 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line undefined : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/size.styl */

/* line 2 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/imports.styl */
@import 'normalize.css';

/* line 29 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/mixins.styl */

/* line 9 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/mixins.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/fonts.styl */
@font-face {
  font-family: 'Lato';
  src: url("public/fonts/lato-bol-webfont.eot");
  font-weight: 700;
  font-style: normal;

/* line 4 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/fonts.styl */
}
@font-face {
  font-family: 'Lato';
  src: url("public/fonts/lato-reg-webfont.eot");
  font-weight: 400;
  font-style: normal;

/* line 15 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/fonts.styl */
}
@font-face {
  font-family: 'Lato';
  src: url("public/fonts/lato-lig-webfont.eot");
  font-weight: 200;
  font-style: normal;

/* line 25 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/fonts.styl */
}

/* line 31 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/fonts.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/variables.styl */

/* line 4 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/variables.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/color_palette.styl */

/* line 23 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/color_palette.styl */

/* line 23 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/base.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/base.styl */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/base.styl */
body {
  font-family: Lato, 'Lucida Grande';
  height: 100%;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* line 9 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/base.styl */
body.dark {
  background-color: #000;
}

/* line 11 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/base.styl */

/* line 11 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/layout.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/layout.styl */
body {
  margin: 0;
}

/* line 3 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/layout.styl */

/* line 3 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/header.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/header.styl */
header.pageHeader {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 40px;
  top: 0px;
  -webkit-transition: box-shadow 0.8s;
  -moz-transition: box-shadow 0.8s;
  -o-transition: box-shadow 0.8s;
  -ms-transition: box-shadow 0.8s;
  transition: box-shadow 0.8s;
}

/* line 12 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/header.styl */
header.pageHeader .header-authorContainer {
  display: inline-block;
  margin-right: 50px;
}

/* line 16 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/header.styl */
header.pageHeader .header-authorContainer .authorContainer-name {
  color: #e45d50;
  font-size: 25px;
  font-weight: bold;
}

/* line 21 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/header.styl */

/* line 22 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/header.styl */
body.is-page-scrolled header.pageHeader {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(31,31,33,0.3);
  box-shadow: 0px 0px 10px 1px rgba(31,31,33,0.3);
}

/* line 25 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/header.styl */

/* line 25 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/projects_navigation.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/projects_navigation.styl */
.projectsNavigation {
  display: inline-block;
  margin-top: 20px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/* line 6 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/projects_navigation.styl */
.projectsNavigation a {
  text-decoration: none;
  padding: 5px 10px 5px 0px;
  color: #3d3d3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
  font-weight: lighter;
}

/* line 13 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/projects_navigation.styl */
.projectsNavigation a.active {
  font-weight: bold;
}

/* line 16 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/projects_navigation.styl */
.projectsNavigation a:hover {
  font-weight: bold;
}

/* line 18 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/projects_navigation.styl */

/* line 18 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_slider.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_slider.styl */
.photoSlider {
  margin-left: 20px;
  margin-top: 42px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}

/* line 23 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/clearfix.styl */
.photoSlider:before,
.photoSlider:after {
  content: "";
  display: table;
}

/* line 27 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/node_modules/nib/lib/nib/clearfix.styl */
.photoSlider:after {
  clear: both;
}

/* line 8 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_slider.styl */
.photoSlider .photoWrapper {
  cursor: pointer;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  width: 350px;
  margin-bottom: 20px;
  height: auto;
}

/* line 16 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_slider.styl */
.photoSlider .photoWrapper img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 22 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_slider.styl */
.photoSlider .photoWrapper.is-loading {
  background-color: #f7f7f7;
}

/* line 25 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_slider.styl */
.photoSlider .photoWrapper.is-loading img {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}

/* line 27 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_slider.styl */

/* line 27 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper {
  position: absolute;
  top: 0;
  margin-bottom: 100px;
  z-index: 4;
  display: none;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper .photoExpo {
  position: relative;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(31,31,33,0.2);
  box-shadow: 0px 0px 10px 1px rgba(31,31,33,0.2);
}

/* line 18 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper .photoExpo.is-tall {
  width: 40%;
}

/* line 21 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper .photoExpo.is-really-tall {
  width: 35%;
}

/* line 24 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper .photoExpo.is-wider {
  width: 60%;
}

/* line 27 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper .photoExpo img {
  width: 100%;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 31 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper .photoExpo.is-loading {
  background-color: #f7f7f7;
}

/* line 34 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */
.photoExpoWrapper .photoExpo.is-loading img {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}

/* line 36 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/photo_expo.styl */

/* line 36 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/background_blocker.styl */

/* line 1 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/background_blocker.styl */
.backgroundBlocker {
  background-color: #fff;
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 13 : /Users/rafaelchiti/Documents/Development/Code/rafaelchiti-photography-dotcom/stylesheets/background_blocker.styl */
.backgroundBlocker.has-scrolled-while-exposing {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
