@font-face
    font-family 'Lato'
    src url('public/fonts/lato-bol-webfont.eot')
    src url('public/fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype')
         url('public/fonts/lato-bol-webfont.woff') format('woff')
         url('public/fonts/lato-bol-webfont.ttf') format('truetype')
         url('public/fonts/lato-bol-webfont.svg#latobold') format('svg')
    font-weight 700
    font-style normal


@font-face
    font-family 'Lato'
    src url('public/fonts/lato-reg-webfont.eot')
    src url('public/fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype')
         url('public/fonts/lato-reg-webfont.woff') format('woff')
         url('public/fonts/lato-reg-webfont.ttf') format('truetype')
         url('public/fonts/lato-reg-webfont.svg#latoregular') format('svg')
    font-weight 400
    font-style normal

@font-face
    font-family 'Lato'
    src url('public/fonts/lato-lig-webfont.eot')
    src url('public/fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype')
         url('public/fonts/lato-lig-webfont.woff') format('woff')
         url('public/fonts/lato-lig-webfont.ttf') format('truetype')
         url('public/fonts/lato-lig-webfont.svg#latolight') format('svg')
    font-weight 200
    font-style normal

