header.pageHeader
  position fixed
  width 100%
  z-index header-zi
  background white
  padding-top 5px
  padding-bottom 10px
  padding-left 40px
  top 0px
  transition box-shadow .8s

  .header-authorContainer
    display inline-block
    margin-right 50px

    .authorContainer-name
      color app-dark-dark-gray
      font-size 25px
      font-weight bold

body.is-page-scrolled
  header.pageHeader
    // opacity 0
    box-shadow(0px 0px 10px 1px rgba(app-black, .3))
