.photoExpoWrapper
  position absolute
  top 0
  margin-bottom 100px
  z-index photoExpo-zi
  display none
  height 100%
  width 100%
  box-sizing(border-box)

  .photoExpo
    position relative
    margin auto
    padding 10px
    background-color white
    box-shadow(0px 0px 10px 1px rgba(app-black, .2))

    &.is-tall
      width 40%

    &.is-really-tall
      width 35%

    &.is-wider
      width 60%

    img
      width 100%
      transition opacity .5s

    &.is-loading
      background-color app-light-gray

      img
        opacity .3
