.photoSlider
  margin-left 20px
  margin-top 42px
  padding 20px
  box-sizing(border-box)
  clearfix()

  .photoWrapper
    cursor pointer
    transition background .5s
    width 350px
    margin-bottom 20px
    height auto
    transition opacity .5s

    img
      width 100%
      height auto
      display block

    &.is-loading
      opacity 0

      img
        opacity 0