.projectsNavigation
  display inline-block
  margin-top 20px
  opacity .5

  a
    text-decoration none
    padding 5px 10px 5px 0px
    color app-dark-dark-gray
    transition transform 0.5s
    font-weight lighter

    &.active
      font-weight bold

    &:hover
      font-weight bold

